// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.container {
    padding: 20px 40px 40px;
    max-width: 500px;
    margin: 50px auto;
    border: 1px solid gray;
    background-color: #e6ecf3;
    border-radius: 14px;
    .form-signin {
        .form-control {
            margin-bottom: 20px;
        }
        .hide {
            display: none;
        }
        .show {
            display: block;
        }
    }
    .btn {
        margin: 0 auto;
        max-width: 132px;
    }
    .error {
        color: red;
        min-height: 24px;
    }
}
